<div class="border-2 border-gray-300 rounded-md">
    <div class="text-center mb-2">
        <h1 class="text-4xl mt-2 mb-2 p-2">Day 1</h1>
        <hr class="border-1 mx-20 my-2 border-gray-300">
    </div>
    <div class="text-center mb-2 mt-4">
        <button class="text-5xl font-semibold bg-slate-500 hover:bg-slate-600 p-2 rounded-md mb-4">Simulate
            Time</button>
        <hr class="border-1 mx-20 my-2 border-gray-300">
    </div>
    <div class="text-center mb-2 mt-2">
        <p class="font-semibold text-xl p-2">Credit Rating: <span class="font-normal">750</span></p>
        <p class="font-semibold text-xl p-2">Credit Limit: <span class="font-normal">$500</span></p>
        <hr class="border-1 mx-20 my-2 border-gray-300">
    </div>
    <div class="text-center mb-2 mt-2">
        <p class="font-semibold text-xl p-2">Monthly income: <span class="font-normal">$1200</span></p>
        <p class="font-semibold text-xl p-2">Rent: <span class="font-normal">$850</span></p>
        <p class="font-semibold text-xl p-2">Phone Bill: <span class="font-normal">$50</span></p>
    </div>
</div>