<div class="flex flex-col md:flex-row">
    <div class="m-2 p-3 w-full md:w-full lg:w-1/4">
        <!-- Left Sidebar -->
        <app-left-sidebar/>
    </div>
    <div class="m-2 p-3 w-full md:w-full lg:w-1/2">
        <div>
            <!-- TODO: Add visualizations and features -->
            <h1 class="text-3xl mt-2">Banking</h1>
            <hr class="my-2 border-gray-300">
            <div class="grid grid-flow-col auto-cols-auto">
                <div class="text-xl"><span class="font-semibold">Current balance: </span>$1200</div>
                <div class="text-xl"><span class="font-semibold">Saving balance: </span>$1200</div>
            </div>
        </div>
        <div>
            <!-- TODO: Add visualizations and features -->
            <h1 class="text-3xl mt-2">Life and Assets</h1>
            <hr class="my-2 border-gray-300">
            <div>
                <ul class="grid grid-flow-row auto-rows-auto list-disc">
                    <li class="ml-5 py-1 text-xl"><span class="font-semibold">Tax-Free Investments (Tax deducation upto 10k limit/yr): </span>$1200</li>
                    <li class="ml-5 py-1 text-xl"><span class="font-semibold">Retirement Investments (10k limit on new invertments/yr - Tax-free Returns): </span>$1200</li>
                    <li class="ml-5 py-1 text-xl"><span class="font-semibold">Other Markets Investments: </span>$1200</li>
                    <!-- Features - Coming Soon -->
                    <!-- <li class="ml-5 py-1 text-xl"><span class="font-semibold">Car Loan: </span>$1200</li> -->
                    <!-- <li class="ml-5 py-1 text-xl"><span class="font-semibold">Mortgage: </span>$1200</li> -->
                </ul>
            </div>
        </div>
        <div>
            <h1 class="text-3xl mt-2">Account History</h1>
            <hr class="my-2 border-gray-300">
            <p>A table showing all trasactions in user account; possibly suppoted by pagination and maybe even visualizations. Coming Soon</p>
            <!-- TODO: Add table and visalizations -->
        </div>
    </div>
    <div class="m-2 p-3 w-full md:w-full lg:w-1/4">
        <!-- Right Sidebar -->
        <app-right-sidebar/>
    </div>
</div>