{% extends 'base.html' %}

{% block content %}

<!-- Banking App content -->
<div class="col-lg-7 col-md-7 col-sm-12 mt-2">
  <h1>Banking</h1>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-6"><b>Chequing Balance: </b>$1200</div>
    <div class="col-sm-12 col-md-6"><b>Saving Balance: </b>$1200</div>
  </div>
</div>
<div class="col-lg-2 col-md-2 col-sm-12 border rounded row" align="center">
  <div>
    <h1 class="fs-1">Actions</h1>
    <hr>
  </div>
  <div class="m-1"><a href="#" class="col-sm-12 col-md-12 col-lg-12 btn btn-danger">Move Money</a></div>
  <div class="m-1"><a href="#" class="col-sm-12 col-md-12 col-lg-12 btn btn-danger">Apply to increase
      Credit
      Limit</a></div>
  <div class="m-1"><a href="#" class="col-sm-12 col-md-12 col-lg-12 btn btn-danger">Automate payments</a>
  </div>
  <div class="m-1"><a href="#" class="col-sm-12 col-md-12 col-lg-12 btn btn-danger">Ask for a raise</a>
  </div>
  <div class="m-1"><a href="#" class="col-sm-12 col-md-12 col-lg-12 btn btn-danger">Set defaults</a></div>
</div>

{% endblock %}