<div class="text-center mb-2 mt-4">
    <div class="border-2 border-gray-300 rounded-md">
        <p class="text-4xl mt-2 p-2">Actions</p>
        <hr class="border-1 mx-20 my-4 border-gray-300">
        <button class="my-2 text-2xl font-semibold bg-red-600 hover:bg-red-700 p-2 rounded-md mb-4">Move
            money</button>
        <br>
        <button class="my-2 text-2xl font-semibold bg-red-600 hover:bg-red-700 p-2 rounded-md mb-4">Request
            Credit Limit upgrade</button>
        <br>
        <button class="my-2 text-2xl font-semibold bg-red-600 hover:bg-red-700 p-2 rounded-md mb-4">Automate
            payments</button>
        <br>
        <button class="my-2 text-2xl font-semibold bg-red-600 hover:bg-red-700 p-2 rounded-md mb-4">Job: Ask for
            a raise</button>
    </div>
</div>