{% extends 'base.html' %}

{% block title %} | Sign Up {% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mt-5">
            <div class="card">
                <div class="card-header bg-danger text-white text-center">
                    <h4>Sign Up</h4>
                </div>
                <div class="card-body">
                    <!-- Alerts -->
                    <!-- {% include 'partials/_alerts.html' %} -->

                    <form action="{% url 'signup' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" name="first_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" name="last_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password2">Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Confirm Password</label>
                            <input type="password" name="password2" class="form-control" required>
                        </div>
                        <div class="mt-2 mb-2 d-flex align-items-center justify-content-center">
                            <input type="submit" value="Sign Up" class="btn btn-danger btn-block">
                        </div>
                    </form>
                    <p>Already have an account? <a href="/accounts/login">Log In</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}