<div class="lg:mx-2 lg:mt-2">
    <nav
        class="bg-red-600 text-white lg:mx-2 lg:mt-1 p-4 text-xl lg:border-2 lg:border-black lg:dark:border-gray-400 lg:rounded-lg">
        <a routerLink="#" disabled class="px-2"> SimFim </a>
        <a routerLink="/dashboard" class="px-4">Banking Dashboard</a>
        <a routerLink="#" class="px-4 text-gray-300" disabled>Life and Assets</a>
        <a routerLink="#" class="px-4 text-gray-300" disabled>Account History</a>
        <a routerLink="/login" class="px-4">Login Page</a>
        <a routerLink="/signup" class="px-4">Sign Up Page</a>
    </nav>
</div>